<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.drewdahl.android.todoist" android:versionName="@string/app_version" android:versionCode="1">
    <uses-permission android:name="android.permission.INTERNET" /> 
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<activity android:name="ItemList" 
    		android:label="@string/app_name"
    		>
    		<!-- TODO Make project list main or configurable main? -->
            <intent-filter>
            	<action android:name="android.intent.action.VIEW" />
            	<data android:mimeType="vnd.android.cursor.dir/vnd.drewdahl.item" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		<!--
		TODO Make this work.
		<activity android:name="ProjectList"
			android:label="@string/app_name"
			>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.drewdahl.project" />
			</intent-filter>
			<intent-filter>
			     <action android:name="android.intent.action.MAIN" />
			     <category android:name="android.intent.category.LAUNCHER" />
			 </intent-filter>
		</activity>
		-->
		<activity android:name="Login" 
			android:label="@string/login" 
			>
		</activity>
		<provider android:name="com.drewdahl.android.todoist.provider.TodoistProvider"
			android:authorities="com.drewdahl.android.todoist.provider"
			/>
	</application>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8"/>

</manifest> 